<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Source" value="R:\Hotstar Downloder"/>
		<add key="Destination" value="C:\Users\Ravi Dholariya\Desktop\Destination"/>
	</appSettings>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=LAPTOP-CMODSAPH\SQLEXPRESS;Initial Catalog=Infinnium;Integrated Security=True;"/>
	</connectionStrings>
</configuration>
